.row {
    @extend .row;
    margin-bottom: .5rem;
}

h1:first-letter,
h2:first-letter,
h3:first-letter,
h4:first-letter,
h5:first-letter,
h6:first-letter,
label:first-letter {
    text-transform: uppercase;
}

.container {
    /** Only mobile */
    @media (max-width: 991px) {
        width: 100%;
        margin: 0 1rem;
        padding: 0;
    }
}

.ng-valid[required] {
    border-left: 5px solid green;
}
.ng-invalid {
    border-left: 5px solid red;
}

.input-group-addon {
    padding-right: 1.5rem;
}
